@import url(https://fonts.googleapis.com/css?family=Lobster:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Lobster', display;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Lobster', display;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #370250 !important;
}
.bg-success {
  background-color: #ff0000 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #370250 !important;
  border-color: #370250 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #040005 !important;
  border-color: #040005 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #040005 !important;
  border-color: #040005 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #10004e !important;
  border-color: #10004e !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000002 !important;
  border-color: #000002 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000002 !important;
  border-color: #000002 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b30000 !important;
  border-color: #b30000 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b30000 !important;
  border-color: #b30000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #370250;
  border-color: #370250;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #370250 !important;
  border-color: #370250 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #10004e;
  border-color: #10004e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #10004e !important;
  border-color: #10004e !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #990000;
  color: #990000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #370250 !important;
}
.text-secondary {
  color: #10004e !important;
}
.text-success {
  color: #ff0000 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #990000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #370250;
  border-color: #370250;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #370250;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #be3dfa;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffcccc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #370250;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #370250;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #370250;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #370250;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #370250;
  border-bottom-color: #370250;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #370250 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #10004e !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23370250' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s7G11fsgln {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s7G11fsgln .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7G11fsgln .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s7G11fsgln .mbr-text {
    text-align: center;
  }
}
.cid-s7G11fsgln .mbr-text,
.cid-s7G11fsgln .mbr-section-btn {
  color: #10004e;
}
.cid-s7G11fsgln H1 {
  color: #370250;
}
.cid-s7F6YBLKgN {
  padding-top: 45px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/nn.png");
}
.cid-s7F6YBLKgN h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7F6YBLKgN p {
  color: #767676;
  margin: 0;
}
.cid-s7F6YBLKgN .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-s7F6YBLKgN .mbr-section-btn {
  padding-top: 1rem;
}
.cid-s7F6YBLKgN .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7F6YBLKgN .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-s7F6YBLKgN .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-s7F6YBLKgN .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-s7F6YBLKgN .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-s7F6YBLKgN .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-s7F6YBLKgN .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7F6YBLKgN .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-s7F6YBLKgN .col-left h4 {
    padding-top: 1rem;
  }
  .cid-s7F6YBLKgN p.col-right {
    padding-top: 1rem;
  }
}
.cid-s7F6YBLKgN .col-right {
  color: #ff0000;
  text-align: center;
}
.cid-s7F6YBLKgN .card-title {
  color: #ff0000;
}
.cid-s7G2svrIFi {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s7G2svrIFi .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7G2svrIFi .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s7G2svrIFi .mbr-text {
    text-align: center;
  }
}
.cid-s7G2svrIFi .mbr-text,
.cid-s7G2svrIFi .mbr-section-btn {
  color: #10004e;
}
.cid-s7G2svrIFi H1 {
  color: #370250;
}
.cid-s7F9lgsKvL {
  padding-top: 45px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/diapositiva4-1.png");
}
.cid-s7F9lgsKvL h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7F9lgsKvL p {
  color: #767676;
  margin: 0;
}
.cid-s7F9lgsKvL .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-s7F9lgsKvL .mbr-section-btn {
  padding-top: 1rem;
}
.cid-s7F9lgsKvL .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7F9lgsKvL .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-s7F9lgsKvL .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-s7F9lgsKvL .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-s7F9lgsKvL .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-s7F9lgsKvL .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-s7F9lgsKvL .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7F9lgsKvL .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-s7F9lgsKvL .col-left h4 {
    padding-top: 1rem;
  }
  .cid-s7F9lgsKvL p.col-right {
    padding-top: 1rem;
  }
}
.cid-s7F9lgsKvL .col-right {
  color: #149dcc;
}
.cid-s7F9lgsKvL .card-title {
  color: #149dcc;
}
.cid-s7G34jqNLP {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s7G34jqNLP .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7G34jqNLP .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s7G34jqNLP .mbr-text {
    text-align: center;
  }
}
.cid-s7G34jqNLP .mbr-text,
.cid-s7G34jqNLP .mbr-section-btn {
  color: #10004e;
}
.cid-s7G34jqNLP H1 {
  color: #370250;
}
.cid-s7F9ArTRkb {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/diapositiva3-1.png");
}
.cid-s7F9ArTRkb h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7F9ArTRkb p {
  color: #767676;
  margin: 0;
}
.cid-s7F9ArTRkb .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-s7F9ArTRkb .mbr-section-btn {
  padding-top: 1rem;
}
.cid-s7F9ArTRkb .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7F9ArTRkb .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-s7F9ArTRkb .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-s7F9ArTRkb .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-s7F9ArTRkb .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-s7F9ArTRkb .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-s7F9ArTRkb .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7F9ArTRkb .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-s7F9ArTRkb .col-left h4 {
    padding-top: 1rem;
  }
  .cid-s7F9ArTRkb p.col-right {
    padding-top: 1rem;
  }
}
.cid-s7F9ArTRkb .card-title {
  color: #00c70c;
  text-align: left;
}
.cid-s7F9ArTRkb .col-right {
  color: #00c70c;
  text-align: center;
}
.cid-s7F9ArTRkb P {
  text-align: left;
}
.cid-s7G49iaYxU {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s7G49iaYxU .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7G49iaYxU .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s7G49iaYxU .mbr-text {
    text-align: center;
  }
}
.cid-s7G49iaYxU .mbr-text,
.cid-s7G49iaYxU .mbr-section-btn {
  color: #10004e;
}
.cid-s7G49iaYxU H1 {
  color: #370250;
}
.cid-s7F9FQBUrU {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/diapositiva2-1.png");
}
.cid-s7F9FQBUrU h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7F9FQBUrU p {
  color: #767676;
  margin: 0;
}
.cid-s7F9FQBUrU .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-s7F9FQBUrU .mbr-section-btn {
  padding-top: 1rem;
}
.cid-s7F9FQBUrU .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7F9FQBUrU .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-s7F9FQBUrU .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-s7F9FQBUrU .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-s7F9FQBUrU .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-s7F9FQBUrU .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-s7F9FQBUrU .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7F9FQBUrU .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-s7F9FQBUrU .col-left h4 {
    padding-top: 1rem;
  }
  .cid-s7F9FQBUrU p.col-right {
    padding-top: 1rem;
  }
}
.cid-s7G4upNBGj {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s7G4upNBGj .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7G4upNBGj .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s7G4upNBGj .mbr-text {
    text-align: center;
  }
}
.cid-s7G4upNBGj .mbr-text,
.cid-s7G4upNBGj .mbr-section-btn {
  color: #10004e;
}
.cid-s7G4upNBGj H1 {
  color: #370250;
}
.cid-s7F9LYsMB2 {
  padding-top: 45px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/diapositiva5-1.png");
}
.cid-s7F9LYsMB2 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7F9LYsMB2 p {
  color: #767676;
  margin: 0;
}
.cid-s7F9LYsMB2 .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-s7F9LYsMB2 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-s7F9LYsMB2 .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7F9LYsMB2 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-s7F9LYsMB2 .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-s7F9LYsMB2 .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-s7F9LYsMB2 .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-s7F9LYsMB2 .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-s7F9LYsMB2 .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7F9LYsMB2 .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-s7F9LYsMB2 .col-left h4 {
    padding-top: 1rem;
  }
  .cid-s7F9LYsMB2 p.col-right {
    padding-top: 1rem;
  }
}
.cid-s7Ff3de1gW {
  padding-top: 0px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/diapositiva5-1.png");
}
.cid-s7Ff3de1gW h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7Ff3de1gW p {
  color: #767676;
  margin: 0;
}
.cid-s7Ff3de1gW .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-s7Ff3de1gW .mbr-section-btn {
  padding-top: 1rem;
}
.cid-s7Ff3de1gW .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7Ff3de1gW .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-s7Ff3de1gW .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-s7Ff3de1gW .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-s7Ff3de1gW .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-s7Ff3de1gW .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-s7Ff3de1gW .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7Ff3de1gW .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-s7Ff3de1gW .col-left h4 {
    padding-top: 1rem;
  }
  .cid-s7Ff3de1gW p.col-right {
    padding-top: 1rem;
  }
}
.cid-s9m1A4pXTC {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s9m1A4pXTC .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s9m1A4pXTC .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s9m1A4pXTC .mbr-text {
    text-align: center;
  }
}
.cid-s9m1A4pXTC .mbr-text,
.cid-s9m1A4pXTC .mbr-section-btn {
  color: #10004e;
}
.cid-s9m1A4pXTC H1 {
  color: #370250;
}
.cid-sjaSBgKBLZ {
  padding-top: 75px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/iptv-cable-por-internet-d-nq-np-868273-mlu27282103636-052018-f-1.jpg");
}
.cid-sjaSBgKBLZ h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sjaSBgKBLZ p {
  color: #767676;
  margin: 0;
}
.cid-sjaSBgKBLZ .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-sjaSBgKBLZ .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sjaSBgKBLZ .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sjaSBgKBLZ .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sjaSBgKBLZ .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-sjaSBgKBLZ .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-sjaSBgKBLZ .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-sjaSBgKBLZ .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-sjaSBgKBLZ .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sjaSBgKBLZ .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-sjaSBgKBLZ .col-left h4 {
    padding-top: 1rem;
  }
  .cid-sjaSBgKBLZ p.col-right {
    padding-top: 1rem;
  }
}
.cid-s9m5vntIsh {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-s9m5vntIsh .carousel-control {
  background: #000;
}
.cid-s9m5vntIsh .mbr-section-subtitle {
  color: #767676;
}
.cid-s9m5vntIsh .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s9m5vntIsh .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-s9m5vntIsh .carousel-item .wrap-img {
  text-align: center;
}
.cid-s9m5vntIsh .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-s9m5vntIsh .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s9m5vntIsh .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-s9m5vntIsh .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-s9m5vntIsh .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-s9m5vntIsh .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-s9m5vntIsh .cloneditem-1,
.cid-s9m5vntIsh .cloneditem-2,
.cid-s9m5vntIsh .cloneditem-3,
.cid-s9m5vntIsh .cloneditem-4,
.cid-s9m5vntIsh .cloneditem-5 {
  display: none;
}
.cid-s9m5vntIsh .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-s9m5vntIsh .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-s9m5vntIsh .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides2 .cloneditem-1,
  .cid-s9m5vntIsh .carousel-inner.slides2 .cloneditem-2,
  .cid-s9m5vntIsh .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-s9m5vntIsh .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides3 .cloneditem-1,
  .cid-s9m5vntIsh .carousel-inner.slides3 .cloneditem-2,
  .cid-s9m5vntIsh .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-s9m5vntIsh .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides4 .cloneditem-1,
  .cid-s9m5vntIsh .carousel-inner.slides4 .cloneditem-2,
  .cid-s9m5vntIsh .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-s9m5vntIsh .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides5 .cloneditem-1,
  .cid-s9m5vntIsh .carousel-inner.slides5 .cloneditem-2,
  .cid-s9m5vntIsh .carousel-inner.slides5 .cloneditem-3,
  .cid-s9m5vntIsh .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-s9m5vntIsh .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-s9m5vntIsh .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s9m5vntIsh .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s9m5vntIsh .carousel-inner.slides6 .cloneditem-1,
  .cid-s9m5vntIsh .carousel-inner.slides6 .cloneditem-2,
  .cid-s9m5vntIsh .carousel-inner.slides6 .cloneditem-3,
  .cid-s9m5vntIsh .carousel-inner.slides6 .cloneditem-4,
  .cid-s9m5vntIsh .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-s9m5vntIsh H2 {
  color: #370250;
}
.cid-sazRmIT0mM {
  padding-top: 120px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-sazRmIT0mM .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sazRmIT0mM .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-sazRmIT0mM .mbr-text {
    text-align: center;
  }
}
.cid-sazRmIT0mM .mbr-text,
.cid-sazRmIT0mM .mbr-section-btn {
  color: #10004e;
}
.cid-sazRmIT0mM H1 {
  color: #370250;
}
.cid-sazRmKkHy4 {
  padding-top: 45px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/free-fire-juego-1200x675.jpg");
}
.cid-sazRmKkHy4 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sazRmKkHy4 p {
  color: #767676;
  margin: 0;
}
.cid-sazRmKkHy4 .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-sazRmKkHy4 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sazRmKkHy4 .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sazRmKkHy4 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sazRmKkHy4 .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-sazRmKkHy4 .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-sazRmKkHy4 .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-sazRmKkHy4 .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-sazRmKkHy4 .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sazRmKkHy4 .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-sazRmKkHy4 .col-left h4 {
    padding-top: 1rem;
  }
  .cid-sazRmKkHy4 p.col-right {
    padding-top: 1rem;
  }
}
.cid-sazRmMkZPZ {
  padding-top: 0px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/free-fire-juego-1200x675.jpg");
}
.cid-sazRmMkZPZ h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sazRmMkZPZ p {
  color: #767676;
  margin: 0;
}
.cid-sazRmMkZPZ .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-sazRmMkZPZ .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sazRmMkZPZ .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sazRmMkZPZ .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-sazRmMkZPZ .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-sazRmMkZPZ .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-sazRmMkZPZ .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-sazRmMkZPZ .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-sazRmMkZPZ .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sazRmMkZPZ .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-sazRmMkZPZ .col-left h4 {
    padding-top: 1rem;
  }
  .cid-sazRmMkZPZ p.col-right {
    padding-top: 1rem;
  }
}
.cid-s7ErsUP84f {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/7-servicios-de-streaming-que-dominaran-el-2020.jpg");
}
.cid-s7FkB167ew {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s7FkB167ew .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-s7FkB167ew .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s7FkB167ew .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s7FkB167ew .mbr-text {
    text-align: center;
  }
}
.cid-s7FkB167ew H1 {
  color: #10004e;
}
.cid-s7FkB167ew .mbr-text,
.cid-s7FkB167ew .mbr-section-btn {
  color: #10004e;
}
.cid-sjaSl1AZDs {
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/disney-plus.jpg");
}
.cid-sjaSl1AZDs h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sjaSl1AZDs p {
  color: #767676;
  margin: 0;
}
.cid-sjaSl1AZDs .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-sjaSl1AZDs .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sjaSl1AZDs .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sjaSl1AZDs .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-sjaSl1AZDs .border_wrapper {
  border-left: 1px solid #efefef;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-sjaSl1AZDs .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-sjaSl1AZDs .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-sjaSl1AZDs .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sjaSl1AZDs .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-sjaSl1AZDs .col-left h4 {
    padding-top: 1rem;
  }
  .cid-sjaSl1AZDs p.col-right {
    padding-top: 1rem;
  }
}
.cid-sjaSl1AZDs .card-title {
  color: #ffffff;
}
.cid-sjaSl1AZDs P {
  color: #ffffff;
}
.cid-s7Fg5bF04j {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-s7Fg5bF04j .card-img {
  background-color: #fff;
}
.cid-s7Fg5bF04j .card {
  align-self: stretch;
}
.cid-s7Fg5bF04j .card-box {
  padding: 2rem;
  background-color: #370250;
}
.cid-s7Fg5bF04j h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7Fg5bF04j p {
  text-align: left;
}
.cid-s7Fg5bF04j .mbr-text {
  color: #767676;
}
.cid-s7Fg5bF04j .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7Fg5bF04j .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-s7Fg5bF04j .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-s7Fg5bF04j .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-saxYIkDFwD {
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/free-fire-juego-1200x675.jpg");
}
.cid-saxYIkDFwD h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-saxYIkDFwD p {
  color: #767676;
  margin: 0;
}
.cid-saxYIkDFwD .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-saxYIkDFwD .mbr-section-btn {
  padding-top: 1rem;
}
.cid-saxYIkDFwD .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-saxYIkDFwD .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-saxYIkDFwD .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-saxYIkDFwD .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-saxYIkDFwD .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-saxYIkDFwD .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-saxYIkDFwD .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-saxYIkDFwD .col-left h4 {
    padding-top: 1rem;
  }
  .cid-saxYIkDFwD p.col-right {
    padding-top: 1rem;
  }
}
.cid-saxYIkDFwD .card-title {
  color: #ffffff;
}
.cid-saxYIkDFwD P {
  color: #ffffff;
}
.cid-s7EY7ogmHg {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #370250;
}
.cid-s7EY7ogmHg .mbr-section-subtitle {
  color: #767676;
}
.cid-s7EY7ogmHg H2 {
  color: #ffffff;
}
.cid-s7EW1paxJd {
  padding-top: 45px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/mbr-1.jpg");
}
.cid-s7EW1paxJd .mbr-text {
  color: #ffffff;
}
.cid-s7EW1paxJd h4 {
  text-align: center;
}
.cid-s7EW1paxJd p {
  text-align: center;
}
.cid-s7EW1paxJd .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-s7EW1paxJd .card-title,
.cid-s7EW1paxJd .card-img {
  color: #ffffff;
}
.cid-s7EYqb9U7I {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #370250;
}
.cid-sdbPDKy14B {
  padding-top: 90px;
  padding-bottom: 15px;
  background-color: #ffffff;
  background: linear-gradient(45deg, #ffffff, #ffffff);
}
.cid-sdbPDKy14B .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-sdbPDKy14B .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sdbPDKy14B .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-sdbPDKy14B .mbr-text {
    text-align: center;
  }
}
.cid-sdbPDKy14B .mbr-text,
.cid-sdbPDKy14B .mbr-section-btn {
  color: #232323;
}
.cid-sdbPDKy14B H1 {
  color: #232323;
}
.cid-sjaSw8qnfQ {
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/disney-plus.jpg");
}
.cid-sjaSw8qnfQ h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sjaSw8qnfQ p {
  color: #767676;
  margin: 0;
}
.cid-sjaSw8qnfQ .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-sjaSw8qnfQ .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sjaSw8qnfQ .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sjaSw8qnfQ .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-sjaSw8qnfQ .border_wrapper {
  border-left: 1px solid #efefef;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-sjaSw8qnfQ .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-sjaSw8qnfQ .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-sjaSw8qnfQ .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sjaSw8qnfQ .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-sjaSw8qnfQ .col-left h4 {
    padding-top: 1rem;
  }
  .cid-sjaSw8qnfQ p.col-right {
    padding-top: 1rem;
  }
}
.cid-sjaSw8qnfQ .card-title {
  color: #ffffff;
}
.cid-sjaSw8qnfQ P {
  color: #ffffff;
}
.cid-s7Fmd7l4JF {
  padding-top: 0px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/mbr-1.jpg");
}
.cid-s7Fmd7l4JF .card-img {
  background-color: #fff;
}
.cid-s7Fmd7l4JF .card {
  align-self: stretch;
}
.cid-s7Fmd7l4JF .card-box {
  padding: 2rem;
  background-color: #370250;
}
.cid-s7Fmd7l4JF h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-s7Fmd7l4JF p {
  text-align: left;
}
.cid-s7Fmd7l4JF .mbr-text {
  color: #767676;
}
.cid-s7Fmd7l4JF .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-s7Fmd7l4JF .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-s7Fmd7l4JF .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-s7Fmd7l4JF .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-sazRb3S2qP {
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/free-fire-juego-1200x675.jpg");
}
.cid-sazRb3S2qP h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sazRb3S2qP p {
  color: #767676;
  margin: 0;
}
.cid-sazRb3S2qP .card-box {
  background-color: #ffffff;
  background-color: transparent;
}
.cid-sazRb3S2qP .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sazRb3S2qP .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-sazRb3S2qP .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cid-sazRb3S2qP .border_wrapper {
  border-left: 1px solid #370250;
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .cid-sazRb3S2qP .border_wrapper {
    border-left: none;
    padding-left: 0;
  }
  .cid-sazRb3S2qP .mbr-section-btn a {
    padding: 1rem 2rem;
  }
  .cid-sazRb3S2qP .mbr-figure {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sazRb3S2qP .wrapper {
    align-items: center;
    text-align: center;
  }
  .cid-sazRb3S2qP .col-left h4 {
    padding-top: 1rem;
  }
  .cid-sazRb3S2qP p.col-right {
    padding-top: 1rem;
  }
}
.cid-sazRb3S2qP .card-title {
  color: #ffffff;
}
.cid-sazRb3S2qP P {
  color: #ffffff;
}
